.componentDiv{
    display: grid;
    position:absolute;
    width: 100%;
    text-align: left;
    color: rgb(255, 255, 255);
    font-size: 2vw;
    min-height: 90%;
}

.backgroundImage {
    grid-area:1 / 1 / 2 / 2;
    width: 100%;
    height: auto;
    position: absolute;
    z-index: -1;
}

.messageDiv {
    grid-area:1 / 1 / 2 / 2;
    background-color: rgba(25,25,25, 0.5);
    margin-left: 1%;
    margin-top: 1%;
    padding: 1%;
    height: min-content;
    transform: translateZ(-1px) scale(1); /* 3D effect */
    width: 90%    
}

/*phone section*/
@media (max-width: 600px) {
    .componentDiv{
        font-size: 2.2vw;
    }
    .componentDiv h1{
        font-size: 4vw;
    }
    .messageDiv {
        background-color: rgba(25,25,25, 0.5);
    }
}

/** for mobile with larger screen*/
@media (max-width: 800px) {
    .componentDiv{
        font-size: 2.2vw;
    }
    .componentDiv h1{
        font-size: 3.5vw;
    }
    .messageDiv {
        background-color: rgba(25,25,25, 0.5);
    }
}

/** for mobile with xlarger screen*/
@media (max-width: 1000px) {
    .componentDiv{
        font-size: 2.2vw;
    }
    .componentDiv h1{
        font-size: 3.5vw;
    }
    .messageDiv {
        background-color: rgba(25,25,25, 0.5);
    }
}




/* Add a valid CSS rule or selector here */

