
<div class = "componentDiv">
    <img [src]="aboutImage" class="backgroundImage">
    <div class = "messageDiv">
        <h1>About Us</h1>
        <p>I recently took over a tech repair business with a goal to incorporate my passion for both technology and programming. With a B.S. in Software Engineering and years of IT experience, I am well equipped to handle a wide range of tech-related problems. My military background taught me to always strive for excellence, and I am dedicated to providing exceptional service to my customers. In the future, I hope to expand my offerings to include programming services and help bridge the gap between technology and its users. I am excited to continue to grow and evolve this business to meet the ever-changing needs of our customers.</p>
    </div>
</div>

