<div class = "componentDiv">
    <img [src]="codingImage" class="backgroundImage">
    <div class="messageDiv">
      Skilled in Angular, Java, and SQL
      <div class="codingMessageDivInner">
      <p>I am a software engineer with a year of experience and a BS in software engineering. I specialize in Angular, Java, and Microsoft SQL Server and have a passion for delivering high-quality solutions.</p>
      <h1 class="h1">My Services Include:</h1>
      <ul>
        <li>Angular Web Development</li>
        <li>Java Mobile App Development</li>
        <li>Microsoft SQL Server Database Design</li>
      </ul>
      <p>Whether you need a custom web application built with Angular, a mobile app developed with Java, or a robust database designed with Microsoft SQL Server, I have the skills and experience to bring your vision to life.</p>
      <h1 class="h1">Why Choose Me:</h1>
      <ul>
        <li>Skilled and Experienced Software Engineer</li>
        <li>High-Quality Solutions</li>
        <li>Affordable Prices</li>
        <li>Dedicated Customer Support</li>
      </ul>
      <p>Contact me today to learn more about how I can help bring your project to life!</p>
    </div>
      </div>
    </div>
