<div class = "componentDiv">
    <img [src]="computersImage" class="backgroundImage">
    <div class="messageDiv">
      Computer Services
      <div class="computerMessageDivInner">
        I offer a wide range of computer services to restore and improve the functionality of your technology. My goal is to protect against potential security threats and deliver effective solutions for all your computer needs.
        <ul class = "computerMessageDivInner_ul">
          <li>Hardware Troubleshooting & Repair (e.g. Screen Replacement)</li>
          <li>Data Recovery</li>
          <li>Upgrades</li>
          <li>Custom Computer Builds for Personal & Business Use, including Gaming Systems</li>
          <li>Software Optimization, including Virus Scans & Performance Enhancement</li>
        </ul>
        <p>With expertise in Macs, Windows PCs, and Ubuntu Linux, I strive to solve the majority of security issues and provide comprehensive support for all your computer needs.</p>
      </div>
    </div>

  </div>
