.componentDiv{
  display: grid;
  position: absolute;
  font-size: 2vw;
}
.backgroundImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  object-fit: cover;
  z-index: -1;
}

.messageDiv {
  grid-area:1 / 1 / 2 / 2;
  background-color: rgba(25,25,25, 0.5);
  margin-left: 1%;
  margin-top: 1%;
  padding: 1%;
  height: min-content;
  transform: translateZ(-1px) scale(1); /* 3D effect */
  z-index: 1;
  width: 90%;
}

.networkMessageDivInner{
  font-size:2ch;
}
.networkMessageDivInnerSub{
  font-size:.9ch;
}

/* for mobile */
@media only screen and (max-width: 600px) {
  .componentDiv{
      font-size: 4vw;
      overflow: hidden;
  }
  .componentDiv h1{
      font-size: 4vw;
  }
  .messageDiv {
      background-color: rgba(25,25,25, 0.5);
      margin-left: 1%;
      margin-bottom: 1%;
      width: 98%;
  }
  .backgroundImage{
    width: 280%;
  }

}

/** for mobile with larger screen*/
@media only screen and (max-width: 800px) {
  .componentDiv{
      font-size: 3vw;
      overflow: hidden;
  }
  .componentDiv h1{
      font-size: 3vw;
  }
  .messageDiv {
      background-color: rgba(25,25,25, 0.5);
      margin-left: 1%;
      margin-bottom: 1%;
      width: 98%;
  }
  .backgroundImage{
    width: 180%;
  }

}
/** for mobile with xlarger screen*/
@media only screen and (max-width: 1000px) {
  .componentDiv{
      font-size: 2.5vw;
      overflow: hidden;
  }
  .componentDiv h1{
      font-size: 2.5vw;
  }
  .messageDiv {
      background-color: rgba(25,25,25, 0.5);
      margin-left: 1%;
      margin-bottom: 1%;
      width: 98%;
  }
  .backgroundImage{
    width: 140%;
  }

}
/* Add a valid CSS rule or selector here */






