<div class = "componentDiv">
    <img [src]="phonesImage" class="backgroundImage">
    <div class="messageDiv">
      <div class="cajun-tech-phone-repair">
        <h1>Phone Repair Services at Cajun Tech</h1>
        <p>At Cajun Tech, we specialize in repairing a variety of mobile devices, especially all kinds of smart phones. Our expert technicians are equipped to handle all of your phone repair needs.</p>
        <ul>
          <li>Screen repair</li>
          <li>Battery replacement</li>
          <li>Tech support</li>
          <li>Unlocking</li>
          <li>Data recovery</li>
        </ul>
        <p>Not sure what's wrong with your device? No problem. Bring it in for a free evaluation and quote. Our goal is to get your phone back to working like new as quickly as possible.</p>
      </div>
    </div>
  </div>
