
.componentDiv{
    display: grid;
    position: absolute;
    width: 100%;
    min-height: 80%;
}
.backgroundImage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    object-fit: cover;
    z-index: -2;
}

.messageDiv {
    grid-area:1 / 1 / 2 / 2;
    background-color: rgba(25,25,25, 0.5);
    margin-left: 1%;
    margin-top: 1%;
    padding: 1%;
    height: min-content;
    max-width: min-content;
    white-space: nowrap;
    transform: translateZ(-1px) scale(1); /* 3D effect */
    z-index: 1;
}


.homeMessageDivHeader{
  font-size:3vw;
  width: 100%;
}

.homeMessageDivInnerNote{
    font-size:.9vw;
    font-style: italic;
    width: 70%;
}

.homeMessageDivInnerList{
    font-size:1.9vw;
}


/* for mobile */
@media only screen and (max-width: 600px) {
    .componentDiv{
        overflow: hidden;
        min-height: 100%;
    }
    .messageDiv {
     /* makes the div be slightly smaller span the grid and than the image and allow word wrap*/
     grid-area:1 / 1 / 2 / -1;
     margin-left: 1%;
     margin-top: 1%;
     padding: 1%;
     height: min-content;
     max-width: 85%;
     white-space: normal;
     transform: translateZ(-1px) scale(1); /* 3D effect */
     z-index: 1;    
    }
    .homeMessageDivHeader{
        font-size: 7vw;
    }
    .homeMessageDivInnerNote{
        font-size: 2vw;
    }
    .homeMessageDivInnerList{
        font-size: 3.5vw;
    }
    .bottomMessageDiv{
        font-size: 2.5vw;
        /* itallic */
        font-style: italic;
    }
    .backgroundImage{
        /*no horizontal scroll*/
        width: 150%;
        height: auto;   
    }
}
@media only screen and (max-width: 800px) {
    .componentDiv{
        overflow: hidden;
        min-height: 100%;
    }
    .messageDiv {
     /* makes the div be slightly smaller span the grid and than the image and allow word wrap*/
     grid-area:1 / 1 / 2 / -1;
     margin-left: 1%;
     margin-top: 1%;
     padding: 1%;
     height: min-content;
     max-width: 85%;
     white-space: normal;
     transform: translateZ(-1px) scale(1); /* 3D effect */
     z-index: 1;    
    }
    .homeMessageDivHeader{
        font-size: 5vw;
    }
    .homeMessageDivInnerNote{
        font-size: 1.5vw;
    }
    .homeMessageDivInnerList{
        font-size: 2.5vw;
    }
    .bottomMessageDiv{
        font-size: 2.5vw;
        /* itallic */
        font-style: italic;
    }
    .backgroundImage{
        /*no horizontal scroll*/
        width: 150%;
        height: auto;   
    }
}
/* mobile with larger screen */
@media only screen and (max-width: 1000px) {
    .componentDiv{
        overflow: hidden;
        min-height: 100%;
    }
    .messageDiv {
     /* makes the div be slightly smaller span the grid and than the image and allow word wrap*/
     grid-area:1 / 1 / 2 / -1;
     margin-left: 1%;
     margin-top: 1%;
     padding: 1%;
     height: min-content;
     max-width: 85%;
     white-space: normal;
     transform: translateZ(-1px) scale(1); /* 3D effect */
     z-index: 1;    
    }
    .homeMessageDivHeader{
        font-size: 4vw;
    }
    .homeMessageDivInnerNote{
        font-size: 1.5vw;
    }
    .homeMessageDivInnerList{
        font-size: 2.5vw;
    }
    .bottomMessageDiv{
        font-size: 2.5vw;
        /* itallic */
        font-style: italic;
    }
    .backgroundImage{
        /*no horizontal scroll*/
        width: 150%;
        height: auto;   
    }
}

/** for when height is greater than width */
@media only screen and (orientation: portrait) and (max-width: 2000px) {
    .componentDiv{
        overflow: hidden;
        min-height: 100%;
    }
    .messageDiv {
     /* makes the div be slightly smaller span the grid and than the image and allow word wrap*/
     grid-area:1 / 1 / 2 / -1;
     margin-left: 1%;
     margin-top: 1%;
     padding: 1%;
     height: min-content;
     max-width: 85%;
     white-space: normal;
     transform: translateZ(-1px) scale(1); /* 3D effect */
     z-index: 1;    
    }
    .homeMessageDivHeader{
        font-size: 4vw;
    }
    .homeMessageDivInnerNote{
        font-size: 1.5vw;
    }
    .homeMessageDivInnerList{
        font-size: 2.5vw;
    }
    .bottomMessageDiv{
        font-size: 2.5vw;
        /* itallic */
        font-style: italic;
    }
    .backgroundImage{
        width: 150%;
        height: auto;

        
    }
    
}

/* Add your CSS rules or selectors here */
