
    <div class = "componentDiv">
      <img [src]="homeImage" class="backgroundImage">
      <div class="messageDiv">
        <div class = "homeMessageDivHeader">Welcome to Cajun Tech</div>
        <div class = "homeMessageDivInnerNote">-Formally Cajun Computers; now owned by Nathan W. Crawley</div>
        <div class = "homeMessageDivInnerList">
  
            We specialize in repairing:
            <ul class = "ul_whatWeDoList">
              <li>Phones</li>
              <li>Computers</li>
              <li>Networks</li>
              <li>Software Development</li>
            </ul>
            Trust us to keep your technology running smoothly and efficiently
        </div>
      </div>
    </div>
  